name: Test External
on:
  push:
    branches:
      - main
  pull_request: null
jobs:
  install-and-test:
    env:
      HUSKY: 0
      NX_DISABLE_DB: true
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    strategy:
      matrix:
        node-version:
          - 22.x
    steps:
      - name: Create GitHub App token
        id: github-app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.InsiderActionsApplication_APP_ID }}
          private-key: ${{ secrets.InsiderActionsApplication_PRIVATE_KEY }}
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn test
      - name: Build
        run: yarn build
